:root {
    --pagebg: #FFF;
    --main:rgba(17, 36, 55, 0.973);
    --main2:rgb(0,159,172);
    --fontheader: 30px;
    --fontcorpo:20px;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pagebg);
}

.carousel-item{
    height: 80vh;
}




.menu_principal{
    display: flex;
    width: 100%;
    height: 80px;
    background-color:white;
    position: absolute;
    z-index: 99;
    top:0;
}
.menu_principal ul{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
}
.menu_principal li{
    color: white;
}
.bg-costumer-1{
background-color:rgba(17, 36, 55, 0.562);
}
.bg-costumer-1:hover{
    background-color:  rgba(17, 36, 55, 0.973);

}

.color-nav{
    color: white !important;
    font-size: 20px;
    font-weight: bold;

    transition:ease 1s;
}
.color-nav:hover{
    color: rgba(255, 255, 255, 0.541) !important;
    border-bottom: 1px solid white;
}

.space-betw{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.container-services{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 100vw;
}
.container-services h1{
    font-size: var(--fontheader);
    color: var(--main);
    margin-bottom: 40px;
    font-family:montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    
}



.services-cards{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    
    flex-wrap: wrap;
}
.bg-card-image{
    width: 100%;
    height: 0%;
    background-color: rgba(127, 255, 212, 0.397);
    position: absolute;
    z-index: 10;
    top:0;
    transition: ease 0.5s;
   
}
.bg-card-image:hover{
    height: 100%;
    border-radius: 20px;
}
.image-card-services{
    width:0;
    transition: ease 0.5s;
    position: relative;

   

}
.image-card-services img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 20px;
   
}
#conteudo1{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
   justify-content: center ;
    align-items: center;
    

}
#conteudo2{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
   justify-content: center ;
    align-items: center;
    

}
.details-card-services{
    
    text-align: center;
    width:50%;

}
.details-card-services p{
    font-size: var(--fontcorpo);
    color:var(--main);

    
}



.container-cards-s2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
   
    margin-top: 50px;
    overflow: hidden;
}
.container-cards-s2 h1{
    font-size: var(--fontheader);
    color: var(--main);
    margin-bottom: 40px;
    font-family:montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
.cards-s2{
    display: flex;
    width: 100%;

    justify-content: space-around !important;
    align-items: center;
    flex-wrap: wrap;
}
.cards-s2 h3{
    font-size: var(--fontcorpo);
    
}

#item-s2-1{
background-image: url('img_home/engenharia.png');
}
#item-s2-2{
    background-image: url('img_home/acessoria.jpg');
    background-size: cover;
    margin-right:150px ;
    margin-left: 150px;
    transition: ease 1s;
   
    
}
#item-s2-3{
        background-image: url('img_home/imgSolar.jpg');
        background-size: cover;
        
        }

 #item-s2-4{
            background-image: url('img_home/imgnr12.jpg');
            background-size: cover;
         
            
           
            
        }



.item-s2{
    width: 300px;
    height: 350px;
   margin-bottom: 10px;
    
    overflow: hidden;
    border-radius: 30px;
    
}
.bg-item-s2{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.768) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 228, 228);
    border-radius: 30px;

}
.bg-item-s2:hover{
    background-color: rgba(192, 185, 185, 0.84);
    color: rgb(45, 43, 43);
    
}



.item-s2 h3{
    font-size: var(--fontcorpo);
    font-weight: bold;
    text-transform: uppercase;

}
.item-s2 button{
   
    font-size: 20px;
    padding: 5px;
   

}
.item-s2 button:hover{
    color: rgb(44, 48, 48);
}





.container-icons-s1{
    display:flex;
    justify-content: space-around;
    width: 100%;



}





.container-s3{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons-s3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.icons-s3 img{
    width: 80px;
    height: 70px;
    margin: 10px;
   
}
.container-s3 h1{
    font-size:var(--fontheader);
    color: var(--main);
    margin-bottom: 40px;
    font-family:montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.container-s4{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
  
}
.container-s4 h1{
    font-size: var(--fontheader);
    color: var(--main);
    margin-bottom: 40px;
    font-family:montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
.container-item-s4{
    display: flex;
}
.item-s4-img{
    display: flex;
    width: 50%;
    border: 5px solid var(--main);
    height: 500px;
    
    
    border-radius: 10px;
    
    margin-left: 10px;

}

.carousel-item img{
    height: 100%;
}
.item-s4-text{
    font:var(--fontcorpo);
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}





footer {
    border-top: 1px solid var(--lighter);
    padding: 20px 0 !important;
    text-align: center;
    font-size: 16px;
    color: var(--main);
}

@media (max-width: 900px) {
    .services-cards{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details-card-services p{
        font-size: 11px;
        
    }
    .image-card-services img{
        max-width: 100%;
        max-height: 300px;
      
        margin: auto;
    }
}

@media (max-width: 768px) {
    .carousel-item{
        height: 50vh;
    }
    .container-cards-s2 h1{
        text-align: center;
    }
    .container-services h1{
        text-align: center;
    }
    #text1{
        font-size: 5px;
    }
  
}

@media (max-width: 500px) {
 
 
 
}

@media (max-width: 400px) {

}